.login {

    .login-container {
        .error {

            background: rgba(243, 160, 160, 0.637);
            padding: 5px 12px;
            color: red;
            font-weight: 200;
            opacity: 1;
            // transform: translateX(-300px, 0px);
            transition: .9s ease-in-out;

            &:visible {
                opacity: 1;

            }

            h4,
            p {
                margin: 12px 0;
            }

            .err {
                background: rgba(243, 160, 160, 0.637);
                padding: 5px 12px;
                color: red;
                font-weight: 200;
                opacity: 1;
                transform: translateX(0);
                transition: .7s ease-in-out;
                opacity: 1;
            }
        }

        width: 40%;
        margin: 160px auto;
        border-radius: 12px;
        padding: 20px 20px;
        background-color: hsla(0, 0%, 100%, .4);


        @media (max-width: 624px) {
            .head {
                align-items: center;
                display: flex;
                flex-direction: column;

                h5 {
                    text-align: center;
                }
            }
        }

        .head {
            text-align: left;

            h1,
            h5 {
                margin: 12px 0;
            }
        }

        form {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            fieldset {
                overflow-x: hidden;
                width: 100%;
                border: 1px solid rgba(0, 0, 0, 0.651);
                background-color: hsla(0, 0%, 98%, 0.938);
                border-radius: 5px;
                text-align: center;
                margin: 8px 0;
                padding: -2px -2px;

                legend {
                    font-size: 1.2rem;
                    color: #221f1fdc;
                    font-weight: 300;
                    text-align: left;
                    

                    @media (max-width: 624px) {
                        font-size: 1rem;
                        margin-left: 12px;

                    }

                }

                input {
                    width: 100%;
                    border: none;
                    padding: 10px;

                    &::placeholder {
                        color: rgb(115, 138, 138);
                        font-size: 1.1rem;
                        font-weight: 500;

                        @media (max-width: 624px) {
                            font-size: .8rem;

                        }
                    }

                    &:focus {
                        border: none;
                        outline: none;
                    }

                    @media (max-width: 624px) {
                        padding: 5px;
                        align-items: center;

                    }
                }

            }
        }

        .login-btns {
            display: flex;
            flex-direction: column;
            margin: 10px 0;

            button,
            a {
                margin: 5px 0;
            }

            button {
                padding: 12px 0;
                background: darken(skyblue, 30%);
                border: none;
                border-radius: 3px;
                color: darken(#fff, 10%);
                font-weight: 650;
                cursor: pointer;
                transition: .6s ease;

                &:hover {
                    transform: scale(1.01);
                    background: darken(skyblue, 50%);
                }
            }

            a {
                font-weight: 500;
                letter-spacing: 1px;
                text-decoration: none;
                font-size: .9rem;
                margin: 20px 0 0 0;
            }
        }
    }
}